h1{
    color: aqua;
    text-align: left;
    
}

/* tag selector */
/* id selector */
#h1{
    color: blueviolet;
    text-align: center;
}

#h2{
    color: chocolate;
    text-align: right;
}

.h3{
    color: brown;
    text-align: start;
}
.h4{
    color: red;
    text-align: right;
}