div{
    border: 1px solid black;
    width: 150px;
    padding: 50px;
    /* padding left,right,top,bottom */

}
#a1{
    margin-top: 100px;
}
#a1:hover{
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
    color: aliceblue;
    transition: all 0.2s;
}
/* decendent selector */
div p{
    color: aqua;
}